<nav>
  <p class="nav-logo">WEATHER</p>
  <p>HOME</p>
</nav>
<div class="search-box">
  <form #form="ngForm" (submit)="onSubmit()">
    <input
      type="text"
      placeholder="Search city..."
      name="city"
      [(ngModel)]="cityName"
    />
  </form>
</div>
<div class="main">
  <app-city1></app-city1>
  <app-city2></app-city2>
  <app-city3></app-city3>
  <app-city4></app-city4>
  <app-city5></app-city5>
  <app-city6></app-city6>
  <app-city7></app-city7>
  <app-city8></app-city8>
</div>
